.hero {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background: #eef0f6;
  display: flex;
  align-items: flex-start;
}

/* ================= DESKTOP ================= */

.hero-container {
  width: 100%;
  padding: 140px 80px 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 120px;
}

.hero-left {
  max-width: 698px;
}

.hero-tag {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #060821;
  border-radius: 16.5px;
  padding: 6px 20px;
  margin-bottom: 40px;

  background: #EAF0FE;
  border: 1px solid transparent;

  background-image:
    linear-gradient(#EAF0FE, #EAF0FE),
    linear-gradient(135deg, #514AD7, #737AFF);

  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.hero-title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #060821;
  margin-bottom: 46px;
}

.hero-title span {
  font-weight: 600;
  background: linear-gradient(90deg, #514AD7, #A1A6FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-desc {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #060821;
  margin-bottom: 48px;
}

.hero-btn {
  background: #514AD7;
  color: white;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-btn:hover {
  opacity: 0.9;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: -80px;
}

.hero-right img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* ================= STRIP ================= */

.hero-strip {
  width: 100%;
  height: 56px;
  background: #ffffff;
  display: flex;
  align-items: center;
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.14),
    0px 0px 2px rgba(0, 0, 0, 0.12);
}

.strip-container {
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strip-tabs {
  display: flex;
  gap: 40px;
}

.strip-tabs button {
  background: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #333275;
  cursor: pointer;
  padding-bottom: 18px;
  position: relative;
}

.strip-tabs button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #5D5BD4;
}

.strip-btn {
  background: #514AD7;
  color: #fff;
  border: none;
  padding: 10px 28px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

/* ================= MOBILE RESPONSIVE ================= */
/* ================= HERO MOBILE ================= */

@media (max-width: 768px) {

  .hero {
    min-height: auto;

    background-image:
      linear-gradient(
        rgba(238, 240, 246, 0.9),
        rgba(238, 240, 246, 0.8)
      ),
      var(--hero-bg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 22px;
  }

  .hero-container {
    flex-direction: column;
    align-items: flex-start;      
    text-align: left;
    padding: 100px 20px 50px 20px;
    gap: 24px;
  }

  .hero-tag {
    font-size: 11px;
    padding: 6px 14px;
    margin-bottom: 10px;
  }

  .hero-title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 16px;
    margin-top: 40px;
  }

  .hero-title span {
    display: inline-block;
  }

  .hero-desc {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    max-width: 95%;
    margin-top: 40px;
  }

  .hero-btn {
    padding: 8px 18px;
    font-size: 13px;
     margin-top: 40px;
  }

  .hero-right {
    display: none;
  }

  .hero-strip {
    display: none;
  }
}