

.contact-hero {
  width: 100%;
  height: 300px;

 
  background-image: url("../../assets/images/contactrectangle.svg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  position: relative;
}
.contact-line {
  width: 6px;
  height: 52px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  position: absolute;
  left: 55px;
  bottom: 20px;
}

.contact-hero-overlay {
  width: 100%;
  height: 90px;
  background: rgba(120, 90, 60, 0.35); 
  padding: 32px 80px;
  backdrop-filter: blur(2px);
}


.contact-hero-overlay h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  position:relative;
  top: -20px;
  
}


.contact-hero-overlay p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.85;
  position:relative;
  top: -20px;

}

